table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}

table{
    justify-content: left;
    column-gap: 20px;
}

.sudokuContainer {
    display: inline-block;
    width:30%;
}

.huecos {
    color: blue;
}

.pistas {
    color: red;
}